
*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Poppins",sans-serif;
}
a{
    text-decoration: none;
}
.contentair
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.form-login
{
    width: 300px;
    height: 500px;
    background:#fff ;
    border-radius: 10px;
    padding: 30px 40px;
    border-radius: 20px;
    
}
.form-login button
{
    height: 35px;
    width: 100%;
    margin-bottom: 25px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border: none;
    border-radius: 25px;
    color: #fff;
}
.form-login button >a{
    color: #fff;
}
.form-login h1{
    margin-bottom: 40px;
    position: relative;
}
.form-login h1::before
{
    content: "";
    position: absolute;
    left: 66px;
    top: 41px;
    height: 2px;
    width: 166px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.form-text
{
    margin-bottom: 40px;
    position: relative;
}
.form-text input
{
    width: 100%;
    height: 56px;
    border: none;
    border-bottom: 2px solid #ccc;
    padding-left: 20px;
    margin-top: 15px;
    border-radius: 5px;

}
.form-text label
{
    margin-bottom: 30px;
    position: absolute;
    bottom: 40px;
    left: 12px;
    color: gray;
}
